# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

repos:
  - repo: https://github.com/fsfe/reuse-tool
    rev: v2.1.0
    hooks:
      - id: reuse
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: "https://github.com/domluna/JuliaFormatter.jl"
    rev: "v2.3.0"
    hooks:
      - id: "julia-formatter"
  #- repo: local
  #hooks:
  # - id: runtests_julia
  #   name: "runtests_julia"
  #   entry: pre_commit_hooks/runtests.sh
  #   files: '\.(jl|JL)$'
  #   verbose: true
  #   language: "script"
  #   description: "Runs julia tests"
